//Variables

$color-text: grey;
$color-first: #7BF497;
$color-second: #74E7EF;
$color-third: #61C876;
$color-fourth: #C86173;
$color-fifth: #ED8652;
$color-sixth: #B078D1;
$white: #fff;
$font-stack-primary: 'Raleway', sans-serif;
$break-small: 480px;
$break-medium: 1399px;
